@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-size: 'Rubik', sans-serif;
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 300 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v28/iJWEBXyIfDnIV7nEnXO61F3f.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

:root {
    --main-color: #fcb700;
    --dark-color: #222222;
    --parg-color: #666666;
    --dark-red: #d01418;
    --border-color: #6666662a;
    --name-item: #0066c0;
}

body {
    background: #f5f6f9;
    margin-top: 205px;
}

footer {
    background: #fcb700;
    padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--dark-color)
}

p {
    color: var(--parg-color);
}

.container {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
}

@media (max-width: 1500px) {
    .container {
        width: 90%;
    }
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
}

header .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header .top-nav .logo img {
    width: 100px;
}

header .top-nav .search {
    width: 500px;
    border: 2px solid var(--main-color);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

header .top-nav .search input {
    padding: 18px 175px 18px 20px;
    outline: none;
    border: none;
    width: 100%;
}

header .top-nav .search button {
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    width: 170px;
    background-color: var(--main-color);
    height: 100%;
    font-size: 18px;
    color: var(--dark-color);
    cursor: pointer;
}

header .top-nav .cart_header {
    display: flex;
    gap: 10px;
    align-items: center;
}

header .top-nav .cart_header i {
    color: var(--dark-color);
    font-size: 20px;
    border: 1px solid var(--border-color);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
}

header .top-nav .cart_header i:hover {
    background-color: var(--main-color);
    color: #fff;
}

header .top-nav .cart_header .icon_cart {
    position: relative;
}

header .top-nav .cart_header .count_item {
    position: absolute;
    background: var(--main-color);
    width: 20px;
    height: 20px;
    border-radius: 50px;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    top: -5px;
    right: 0px;
    color: var(--dark-color);
    border: 1px solid var(--border-color);
}

header .top-nav .cart_header .tottal_price p {
    margin-bottom: 8px;
}

header nav {
    border-top: 1px solid var(--border-color);
}

header .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .links ul {
    display: flex;
    gap: 70px;
}

header .links ul li a {
    color: var(--dark-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

header .links ul li {
    position: relative;
    padding: 20px 0;
}

header .links ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    transition: 0.3s ease-in-out;
}

header .links ul li.active::after,
header .links ul li:hover::after {
    width: 100%;
}

header .links .loging_signup a {
    color: var(--dark-color);
    padding: 10px 20px;
    background-color: var(--main-color);
    border-radius: 5px;
}

/* Cart */
.cart {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 500;
    padding: 30px;
    border-left: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart .top_cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart .top_cart .close_cart i {
    font-size: 35px;
    cursor: pointer;
}

.cart .top_cart h3 {
    font-size: 18px;
}

.cart .top_cart h3 span {
    font-size: 14px;
    color: var(--parg-color);
    font-weight: normal;
}

.cart .items_in_cart {
    padding: 20px 0;
    border-block: 1px solid var(--border-color);
}


.footer {
    width: 100%;
}

.footer .container .footer-content h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
}
.footer-content {
    text-align: center;
}
.list {
    padding: 0;
}
.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: black;
    transition-duration: .5s;
}
.list li::hover::before {
    text-align: center;
    padding: 0;
}
.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i {
    color: white;
    font-size: 25px;
}
.footer-content a {
    text-decoration: none;
}
.footer-content a:hover {
    color: #fcb700;
}
.social-icons i:hover {
    color: #fcb700;
}
.bottm-bar {
    background: red;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottm-bar P {
    color: aqua;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}